In [ ]:
import pandas as pd
import numpy as np

In [27]:
dataset = pd.read_csv('desafio_indicium_imdb.csv', index_col=0)
print(dataset.head(1))
print(dataset.info())
print(dataset.isna().sum()[dataset.isna().sum() > 0])

    Series_Title Released_Year Certificate  Runtime         Genre  \
1  The Godfather          1972           A  175 min  Crime, Drama

   IMDB_Rating                                           Overview  Meta_score  \
1          9.2  An organized crime dynasty's aging patriarch t...       100.0

               Director          Star1      Star2       Star3         Star4  \
1  Francis Ford Coppola  Marlon Brando  Al Pacino  James Caan  Diane Keaton

   No_of_Votes        Gross
1      1620367  134,966,411
<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 1 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   999 non-null    object
 1   Released_Year  999 non-null    object
 2   Certificate    898 non-null    object
 3   Runtime        999 non-null    object
 4   Genre          999 non-null    object
 5   IMDB_Rating    999 non-null    float64
 6   Overview       999 non-null    object
 7   Meta_score     842 non-null    float64
 8   Director       999 non-null    object
 9   Star1          999 non-null    object
 10  Star2          999 non-null    object
 11  Star3          999 non-null    object
 12  Star4          999 non-null    object
 13  No_of_Votes    999 non-null    int64
 14  Gross          830 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 124.9+ KB
None
Certificate    101
Meta_score     157
Gross          169
dtype: int64

In [35]:
print(dataset['Meta_score'].unique())
print(dataset[dataset['Meta_score'].isna()][['Meta_score', 'Series_Title']])

[100.  84.  90.  96.  94.  74.  66.  92.  82.  87.  73.  83.  nan  79.
  91.  61.  59.  65.  85.  98.  89.  88.  57.  67.  62.  77.  64.  75.
  80.  97.  99.  78.  68.  81.  95.  76.  69.  55.  70.  58.  86.  71.
  63.  93.  72.  60.  47.  49.  50.  33.  54.  56.  51.  53.  48.  44.
  45.  40.  52.  28.  36.  46.  30.  41.]
     Meta_score                   Series_Title
20          NaN                Soorarai Pottru
54          NaN      Ayla: The Daughter of War
55          NaN                   Vikram Vedha
57          NaN                         Dangal
65          NaN               Taare Zameen Par
..          ...                            ...
872         NaN  The Day the Earth Stood Still
874         NaN                          Gilda
899         NaN                      El cuerpo
909         NaN                      Celda 211
913         NaN                      Die Welle

[157 rows x 2 columns]

#### Nessa etapa do EDA ainda estou lidando com os tipos de coluna e preprocessamento dos dados.
- Para o Certificate, transformei a coluna para o tipo de category, e os NaN transformei em "Unrated"
- Com Runtime eu separei a coluna em duas: Runtime_time para o valor númerico do tempo e Runtime_type para o tipo de tempo (min ou hour se houvesse.)
- **Para o Genre, identifiquei que cada valor é uma lista de gêneros separados por ", " portanto usarei isso na Pipeline para ter um One-hot encodding válido.**

In [ ]:
dataset['Certificate'] = dataset['Certificate'].astype('category')
dataset['Certificate'] = dataset['Certificate'].fillna('Unrated')

dataset['Runtime_time'] = dataset['Runtime'].str.split().str[0].astype(int)
dataset['Runtime_type'] = dataset['Runtime'].str.split().str[1].astype('category')






print(dataset.info())
print(dataset.isna().sum()[dataset.isna().sum() > 0])

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 1 to 999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   999 non-null    object
 1   Released_Year  999 non-null    object
 2   Certificate    999 non-null    category
 3   Runtime        999 non-null    object
 4   Genre          999 non-null    object
 5   IMDB_Rating    999 non-null    float64
 6   Overview       999 non-null    object
 7   Meta_score     842 non-null    float64
 8   Director       999 non-null    object
 9   Star1          999 non-null    object
 10  Star2          999 non-null    object
 11  Star3          999 non-null    object
 12  Star4          999 non-null    object
 13  No_of_Votes    999 non-null    int64
 14  Gross          830 non-null    object
 15  Runtime_time   999 non-null    int64
 16  Runtime_type   999 non-null    category
dtypes: category(2), float64(2), int64(2), object(11)
memory usage: 127.6+ KB
None
Meta_score    157
Gross         169
dtype: int64